[Unit]
Description=Modbus Data Reader
After=tedge-agent.service

[Service]
User=root
ExecStart=/usr/bin/python3 /etc/tedge/reader.py
Restart=on-failure

[Install]
WantedBy=multi-user.target