[Unit]
Description=Modbus Data Reader

[Service]
User=root
ExecStart=/usr/sbin/te-modbus-plugin -l /var/log/te-modbus-plugin/modbus.log
Restart=on-failure

[Install]
WantedBy=multi-user.target